<html>
    <head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title> forms </title>
    </head>
    
    
    <body>
        <div class= "jumbotron text-center">
            <form method="POST" action="">
                {{form}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>
            </button>

                <!--
                <ul>
                    <li>{{ status }}</li>
                </ul>
                -->
            </form>

        </div>

        <div class="panel panel-default" style="background-color:white;font-family: sans-serif;">
            
            <div class= "panel-heading panel-success">Search Results:</div>
            <div class="panel-body">
                {%if results%}
                <ul class="list-group">
                    {%for r in results%}
                        <li class="list-group-item"><a href="{{ r.url }}"> <b>{{ r.name }}</b> by {{r.author}}</a></li>
                    {%endfor%}
                </ul>
                {%else%}
                    <h3>not found ;-;</h3>
                {%endif%}
            </div>
        </div>

    </body>

</html>