<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>{{ name }}</title>
    </head>
    <body>

    
        
        <div class="container">
            <h1>{{ name }} by {{ author }}</h1>
            <iframe width="820" height="515" src="{{ yturl }}"  allowfullscreen ></iframe>  
            
            <h3> if video is not available, its because this site does not have a public domain (yt) </h3>
        </div>
    </body>
</html>