<html>
    <head>
        
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title> Search The Song </title>
    </head>

    <body style="background-color: black;" >

        <!-- Header -->
			<header id="header">
                    <h1><a href="/">Amusic <span>by Dorian Duo</span></a></h1>
                    <a href="#menu">Menu</a>
            </header>
    
            <!-- Nav -->
                <nav id="menu">
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/form/">Search</a></li>
                        <li><hr /></li>
                        <li><a href="/logout/">Log Out</a></li>
                        <!-- <li><a href="elements.html">Elements</a></li> -->
                    </ul>
                </nav>

            <div id="main">

                    <!-- One -->
                        <section class="wrapper style1">
                            <div class="inner">
                                <header class="align-center">
                                        <form method="POST" action="">
                                                {{form}}
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>
                                            </button>
                                    </header>
                            </div>
                        </section>
                        <section class="wrapper style2">
                                <div class= "inner">
                                            <div class="caption" style="font-size: medium;">
                                                {%if results%}
                                                <ul class="alt">
                                                    {%for r in results%}
                                                        <li><a href="{{ r.url }}" target="_blank" > <b>{{ r.name }}</b> by {{r.author}}</a></li>
                                                    {%endfor%}
                                                </ul>
                                                {%else%}
                                                    <h3>not found ;-;</h3>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                        </section>

                        <section class="wrapper style2">
                                <div class="inner">
                                    <header>
                                        <h2>Thank you For Using Our Website</h2><br />
                                        <p>Maybe Check Your Song History And Recommendations.</p>
                                    </header>
                                    <!-- Tabbed Video Section -->
                                        <div class="flex flex-tabs">
                                            <ul class="tab-list">
                                                <li><a href="#" data-tab="tab-1" class="active">Song History</a></li>
                                                <li><a href="#" data-tab="tab-2">Recommended Songs</a></li>
                                                <!-- <li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li> -->
                                            </ul>
                                            <div class="tabs">
            
                                                <!-- Tab 1 -->
                                                    <div class="tab tab-1 flex flex-3 active">
                                                        <!-- Video Thumbnail -->
                                                        
                                                        {%for his in history%}
            
                                                            <div class="video col">
                                                                <div class="image fit">
                                                                    <img src="/static/images/pic{{piclist|random}}.jpg" alt="{{his.name}} by {{his.author}}" />
                                                                    <div class="arrow">
                                                                        <div class="icon fa-play"></div>
                                                                    </div>
                                                                </div>
                                                                <a href="{{his.url}}" class="link">
                                                                    {{his.name}} by {{his.author}}</a>
                                                            </div>
                                                        {%empty%}
            
                                                        <span> you havent heard any song, yet </span>
            
                                                        {% endfor %}
                                                        </div>
            
                                                <!-- Tab 2 -->
                                                    <div class="tab tab-2 flex flex-3">
                                                        {%for rec in reccom%}
            
                                                                <div class="video col">
                                                                    <div class="image fit">
                                                                            <img src="/static/images/pic{{piclist|random}}.jpg" alt="{{rec.name}} by {{rec.author}}" />
                                                                            <div class="arrow">
                                                                            <div class="icon fa-play"></div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <a href="{{rec.url}}" class="link">
                                                                    {{rec.name}} by {{rec.author}}
                                                            </a>
                                                                </div>
                                                            {%empty%}
                
                                                            <span> you havent get any song reccomended, yet </span>
                
                                                            {% endfor %}
                                                            </div>
                                                
                                            </div>
                                        </div>
                                </div>
                            </section>
                    </div>


        <!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>


    </body>

</html>