<!DOCTYPE HTML>

<html>
	<head>
		<title>Amusic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Amusic <span>by Dorian Duo</span></a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/form/">Search</a></li>
					<li><hr /></li>
					{%if user_stat%}
					<li><a href="/logout/">Log Out</a></li>
					{%else%}
					<li><a href="/register/">Sign Up</a></li>
					<li><a href="/login/">Log In</a></li>
					{%endif%}
					
					<!-- <li><a href="elements.html">Elements</a></li> -->
				</ul>
			</nav>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Welcome To Amusic</h1>
							<p>An Interface For All Of You
							  To Enjoy The Music That You Like!</p>
							{%if user_stat%}
								<p> Please Search The Songs You Want To Listen to</p>	
							</header>
							<a href="/form/" class="button big alt scrolly" target="_blank">Get Started</a>
						
							{%else%}
							<p> Please Sign up / Log In first.</p>
						</header>
						<a href="/register/" class="button big alt scrolly" target="_blank">Get Started</a>
							{%endif%}
					</div>

				</section>

		<!-- Main -->
			<div id="main">

			<!-- Two -->
			{%if user_stat%}
				<section class="wrapper style2">
					<div class="inner">
						<header>
								<h2>Thank you For Using Our Website</h2><br />
								<p>Maybe Check Your Song History And Recommendations.</p>
						</header>
						<!-- Tabbed Video Section -->
							<div class="flex flex-tabs">
								<ul class="tab-list">
									<li><a href="#" data-tab="tab-1" class="active">Song History</a></li>
									<li><a href="#" data-tab="tab-2">Recommended Songs</a></li>
									<!-- <li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li> -->
								</ul>
								<div class="tabs">

									<!-- Tab 1 -->
										<div class="tab tab-1 flex flex-3 active">
											<!-- Video Thumbnail -->
											
											{%for his in history%}

												<div class="video col">
													<div class="image fit">
														<img src="/static/images/pic{{piclist|random}}.jpg" alt="{{his.name}} by {{his.author}}" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="{{his.url}}" class="link">
														{{his.name}} by {{his.author}}</a>
												</div>
											{%empty%}

											<span> you havent heard any song, yet </span>

											{% endfor %}
											</div>

									<!-- Tab 2 -->
										<div class="tab tab-2 flex flex-3">
											{%for rec in reccom%}

													<div class="video col">
														<div class="image fit">
																<img src="/static/images/pic{{piclist|random}}.jpg" alt="{{rec.name}} by {{rec.author}}" />
																<div class="arrow">
																<div class="icon fa-play"></div>
															</div>
														</div>
														
														<a href="{{rec.url}}" class="link">
														{{rec.name}} by {{rec.author}}
												</a>
													</div>
												{%empty%}
	
												<span> you havent get any song reccomended, yet </span>
	
												{% endfor %}
												</div>
									
								</div>
							</div>
					</div>
				</section>
			{%endif%}

			
		 <!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>