<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/AuVi/Viz.css" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>Amusic - {{ name }}</title>
    </head>
    <body>
        <!--
        <div class="container">
            <h1>{{ name }} by {{ author }}</h1>
            <iframe width="820" height="515" src="{{ yturl }}"  allowfullscreen ></iframe>  
            
            <h3> if video is not available, its because this site does not have a public domain (yt) </h3>

        -->

                <!-- Header -->
                    <header id="header">
                        <h1><a href="/">Amusic <span>by Dorian Duo</span></a></h1>
                        <a href="#menu">Menu</a>
                    </header>
        
                <!-- Nav -->
                <nav id="menu">
                        <ul class="links">
                            <li><a href="/">Home</a></li>
                            <li><a href="/form/">Search</a></li>
                            <li><hr /></li>
                            <li><a href="/logout/">Log Out</a></li>
                            <!-- <li><a href="elements.html">Elements</a></li> -->
                        </ul>
                    </nav>
        
                <!-- Main -->
                    <div id="main">
        
                    <!-- One -->
                        <section class="wrapper style1">
                            <div class="inner">
                                <header class="align-center">
                                    <h2>{{ name }} - {{ author }}</h2><br />
                                    <h5>Press On The Middle Of The Video Square To Start Watching, If The Song Does Not Work , Please Press On The Song In The History Panel Below.</h5>
                                </header>
                                <div class="video">
                                    <div class="video-wrapper">
                                    
                                            <audio id="myAudio" src="/media/{{ filename }}" data-author="{{author}}" data-title="{{name}}"></audio>
                                            
                                            <div class="vz-wrapper -canvas">
                                                    <canvas id="myCanvas" width="800" height="400"></canvas>
                                            </div>
                                                
                                        </div>
                                    <p class="caption">Enjoy Our Watching experience!!
                                    <p align="right">
                                    <button id='like' class="btn btn-primary" onclick="like()" ><i class="glyphicon glyphicon-thumbs-up"></i></button>
                                    <button id='dislike' class="btn btn-danger" onclick="dislike()" ><i class="glyphicon glyphicon-thumbs-down"></i></button>
                                    </p> </p>
                                    <p>Hey there, this are the Devs (Dorian Duo). Massive Thank You For All Of You Who Visit Our Website</p>
                                    <p> Stay Musical :) </p>
                                </div>
                            </div>
                        </section>
                        <section class="wrapper style2">
                                <div class="inner">
                                    <header>
                                   
                                            <h2>Thank you For Using Our Website</h2><br />
                                            <p>Maybe Check Your Song History And Recommendations.</p>
                                    </header>


                                    <!-- Tabbed Video Section -->
                                        <div class="flex flex-tabs">
                                            <ul class="tab-list">
                                                <li><a href="#" data-tab="tab-1" class="active">Song History</a></li>
                                                <li><a href="#" data-tab="tab-2">Recommended Songs</a></li>
                                                <!-- <li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li> -->
                                            </ul>
                                            <div class="tabs">
            
                                                <!-- Tab 1 -->
                                                    <div class="tab tab-1 flex flex-3 active">
                                                        <!-- Video Thumbnail -->
                                                        
                                                        {%for his in history%}
            
                                                            <div class="video col">
                                                                <div class="image fit">
                                                                    <img src="/static/images/pic{{piclist|random}}.jpg" alt="{{his.name}} by {{his.author}}" />
                                                                    <div class="arrow">
                                                                        <div class="icon fa-play"></div>
                                                                    </div>
                                                                </div>
                                                                <a href="{{his.url}}" class="link">
                                                                    {{his.name}} by {{his.author}}</a>
                                                            </div>
                                                        {%empty%}
            
                                                        <span> you havent heard any song, yet </span>
            
                                                        {% endfor %}
                                                        </div>
            
                                                <!-- Tab 2 -->
                                                    <div class="tab tab-2 flex flex-3">
                                                        {%for rec in reccom%}
            
                                                                <div class="video col">
                                                                    <div class="image fit">
                                                                            <img src="/static/images/pic{{piclist|random}}.jpg" alt="{{rec.name}} by {{rec.author}}" />
                                                                            <div class="arrow">
                                                                            <div class="icon fa-play"></div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <a href="{{rec.url}}" class="link">
                                                                    {{rec.name}} by {{rec.author}}
                                                            </a>
                                                                </div>
                                                            {%empty%}
                
                                                            <span> you havent get any song reccomended, yet </span>
                
                                                            {% endfor %}
                                                            </div>
                                                
                                            </div>
                                        </div>
                                </div>
                            </section>
                </div>



            <!-- Scripts -->

			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
            <script src="/static/AuVi/visualizer.js"></script>
            
            <script>
                    /*
                        On submiting the form, send the POST ajax
                        request to server and after successfull submission
                        display the object.
                    */
    
                    function like()
                    {
                        $.ajax({ url: "{{ request.get_full_path }}",
                                data: {'liked':'true'},       
                                dataType: "json",
                                success: function(response){
    
                                alret('it works')
    
                                }});
                    }
                    
                    function dislike()
                    {
                        $.ajax({ url: "{{ request.get_full_path }}",
                                data: {'liked':'false'},       
                                dataType: "json",
                                success: function(response){
    
                                    
    
                                }});
                    }

                    /*
                        $.ajax({ url: "{{ elurl }}",
                                context: document.body,       
                                dataType: "json",
                                success: function(response){
    
                                    document.open();
                                    document.write(response.page_content);
                                    document.close();
    
                                }});
                    */
                    
                </script>
    </body>
</html>