<!DOCTYPE html>
<html>
    {%load crispy_forms_tags%}

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        
        
        {%if is_login_form%}
        <title>Log In</title>
        {% else %}
        <title>Sign up</title>
        {% endif %}
        
        <title>Sign up</title>
    </head>
    <body>

        <!-- Header -->
			<header id="header">
				<h1><a href="/">Amusic <span>by Dorian Duo</span></a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
                    <li><a href="/form/">Search</a></li>
                    <li><hr /></li>
                    {%if is_login_form%}
                    <li><a href="/register/">Sign Up</a></li>
                    {% else %}
                    <li><a href="/login/">Log In</a></li>
                    {% endif %}
					<!-- <li><a href="elements.html">Elements</a></li> -->
				</ul>
			</nav>


        
        
        <div id="main">
            <section class="wrapper style1">
                <header class="align-center">


                    {%if is_login_form%}
                    <h2> Please Log In </h2>
                    {% else %}
                    <h2> Please Sign Up </h2>
                    {% endif %}


                </header>
                <div class="inner">
                    <form method="POST">
                        
                        {{ form | crispy}}
                        {% csrf_token %}
                        
                        {{error}}

                        <button class="btn btn-success" type="submit"> Submit! </button>
                    </form>
                </div>
            </section>  
        </div>


        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/jquery.scrolly.min.js"></script>
        <script src="/static/assets/js/skel.min.js"></script>
        <script src="/static/assets/js/util.js"></script>
        <script src="/static/assets/js/main.js"></script>
    </body>
</html>